@import '../../components/normalize-scss/sass/_normalize.scss';
@include normalize();

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font: 16px $gothambook;
}

a {
	text-decoration: none;
}

main {
	background: #006AA8;
}

footer {
	background: $footer-bg;
	color: $white;
	.wrapper {
		align-items: center;
		flex-direction: column;
	}
}

// Reusable Parts
// Buttons

.info-btn {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding: 10px 8px;
	width: 120px;
	border: 1px solid #7DCBFD;
	color: #7DCBFD;
	height: 40px;
	width: 140px;
	&:hover {
		background: #7DCBFD;
		color:#26688F;
	}
}

.wrapper {
	display: flex;
	width: 950px;
	position: relative;
	@include mobile {
		width: 100%;
		padding: 0 15px;
	}
}

.block {
	display: flex;
	justify-content: center;
	width: 100%;
}

.divider {
	background: url('../images/common-page/ft-divider.png') repeat-x;
	height: 2px;
	width: 100%;
}

.blue-label {
	color: $light-blue;
	font: 14px $gothammedium;
	text-transform: uppercase;
}

.centered {
	text-align: center;
}

.bg-white {
	background: white;
}

.index-page {
	background: url('../images/index-page/mc-bg.png') no-repeat;
	background-size: cover;
}

.static-page {
	background: url('../images/common-page/cm-header-bg.png') repeat-x;
	min-height: 300px;
	padding: 60px 0;
}

.page-title {
	color: $white;
	margin: 0 0 20px 0;
}