.top-block {
	background: url('../images/common-page/tbar-bg.png')repeat-x;
	flex-direction: column;
	align-items: center;
	height: 55px;
	.wrapper {
		height: inherit;
		align-items: center;
		justify-content: center;
		h4 {
			margin: 0 10px 0 0;
			font-size: 14px;
			color: $white;
		}
		a {
			height: 17px;
			width: 116px;
			img {
				height: 17px;
				width: 116px;
			}
		}
	}
	@include tablet {
		.wrapper {
			h4 {
				font-size: 12px;
				text-align: left;
			}
		}
	}
}

.nav-block {
	background: $navbar;
	border-top: 1px solid $navbar-border;
	border-bottom: 1px solid $navbar-border;
	height: 75px;
	.wrapper {
		height: inherit;
		align-items: center;
		justify-content: center;
		.logo {
			width: 200px;
			padding: 0 5px;
			img {
				height: auto;
				width: 187px;
			}
		}
		nav {
			width: 100%;
		}
		.topnav {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			align-items: center;
			height: 75px;
			li {
				flex: 1;
				text-align: center;
				padding-top: 25px;
				border-right: 1px solid $navbar-border;
				position: relative;
				height: 73px;
				// width: 100%;
				a {
					color: $dim-blue;
					text-decoration: none;
					position: relative;
					z-index: 5;
				}
				&:hover, &.active {
					cursor: pointer;
					background: url('../images/common-page/nav-bg1.png') no-repeat;
					&::after {
						content: '';
						display: block;
						height: 100%;
						width: 100%;
						position: absolute;
						right: 0;
						top: 0;
						z-index: 2;
						background: url('../images/common-page/nav-bg2.png') no-repeat;
						background-position: right;
					}
					a {
						color: $white;
					}
				}
				&:nth-child(2) {
					border-left: 1px solid $navbar-border;
				}
				&:nth-child(4) {
					flex: 2;
				}
				&.icon, &.home {
					display: none;
				}
			}
		}
	}
	@include tablet {
		height: 65px;
		.wrapper {

			.logo {
				img {
					width: 100%;
				}
			}
			.topnav {
				position: relative;
				height: 65px;
				&.responsive {
					flex-direction: column;
					align-items: flex-start;
					li {
						&:not(:last-child) {
							display: block;
							background: $navbar;
							z-index: 5;
							position: relative;
							width: 100%;
							text-align: left;
							&:hover {
								background: $light-blue;
							}
						}
					}
				}
				li {
					border-right: none;
					flex: 0;
					height: 65px;
					&:hover {
						background: $navbar;
						&::after {
							content: none;
						}
					}
					&.home {
						display: block;
						width: 100%;
						&:hover {
							background: $navbar;
						}
					}
					&:not(:first-child) {
						display: none;
					}
					&:nth-child(2) {
						border-left: 0;
					}
					&:not(:last-child) {
						padding-left: 15px;
						padding-bottom: 15px;
					}
					&.icon {
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 50px;
						&:hover {
							background: $light-blue;
						}
					}
				}
			}
		}
	}
}

.slider-block {
	width: 100%;
	height: auto;
	position: relative;
	.rslides {
		position: relative;
		list-style: none;
		overflow: hidden;
		width: 100%;
		padding: 0;
		margin: 0;
		li {
			-webkit-backface-visibility: hidden;
			position: absolute;
			display: none;
			width: 100%;
			left: 0;
			top: 0;
			img {
				display: block;
				height: auto;
				float: left;
				width: 100%;
				border: 0;
			}
			&:first-child {
		  		position: relative;
	  			display: block;
		  		float: left;
			}
		}
	}
	.rslides_tabs {
		position: absolute;
		bottom: 25px;
		z-index: 10;
		list-style: none;
		display: flex;
		width: 100%;
		padding: 0;
		align-items: center;
		justify-content: center;
		li {
			background: #ccc;
			height: 8px;
			width: 8px;
			margin-right: 10px;
			border-radius: 50%;
			border: 1px solid #ccc;
			&.rslides_here {
				background: $white;
			}
			a {
				font: a/a;
				color: transparent;
			}
		}
	}
}

.mc-block {
	height: 100%;
	padding-top: 65px;
	padding-bottom: 40px;
	.mc-block-context {
		text-align: left;
		padding-right: 20px;
		height: auto;
		width: 465px;
		height: auto;
		min-height: 200px;
		h3 {
			margin: 0 0 25px 0;
			font: 23px $gothammedium;
			text-transform: uppercase;
		}
		p {
			font: 14px $gothambook;
			line-height: 22px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.mc-block-image {
		position: relative;
		width: 465px;
		height: auto;
		min-height: 400px;
		img {
			position: absolute;
			&.img1 {
				bottom: 60px;
				right: 42px;
				z-index: 4;
			}
			&.img2 {
				bottom: 43px;
				right: 0px;
				z-index: 1;
			}
			&.img3 {
				bottom: 71px;
				right: 145px;
				z-index: 3;
			}
			&.img4 {
				bottom: 65px;
				left: 20px;
				z-index: 3;
			}
			&.img5 {
				bottom: 60px;
				left: 80px;
				z-index: 3;
			}
			&.img6 {
				bottom: 46px;
				right: 21px;
				z-index: 1;
			}
		}
	}
	@include tablet {
		.wrapper {
			flex-wrap: wrap;
			justify-content: center;
			.mc-block-context {
				h3 {
					margin-bottom: 15px;
					font-size: 18px;
				}
				p {
					font: 9px $gothambook;
					line-height: 18px;
					margin-bottom: 30px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.mc-block-image {
				position: relative;
				width: 465px;
				height: auto;
				min-height: 400px;
				img {
					position: absolute;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

.mc-tab-block {
	margin-bottom: 60px;
	.wrapper {
		flex-direction: column;
		.mc-tabs {
			display: flex;
			padding: 0;
			list-style: none;
			width: 100%;
			height: 56px;
			align-items: center;
			margin: 20px 0 1px 0;
			border-top: 1px solid $gray;
			border-left: 1px solid $gray;
			border-right: 1px solid $gray;
			.mc-tab-item {
				flex: 1;
				background: red;
				.mc-tab-link {
					text-align: center;
					background-color: $gray;
					padding: 20px;
					border-bottom: 4px solid #bbb;
					font-family: GothamMedium;
					text-transform: uppercase;
					font-size: 14px;
					color: #333;
					cursor: pointer;
					display: block;
					text-decoration: none;
					&.active {
						background: white;
						border-bottom: none;
					}
				}
			}
		}
		.mc-tab-content {
			padding: 40px 5%;
			text-align: center;
			min-height: 250px;
			display: none;
			transition: all .5s ease;
			background-color: white;
			border-bottom: 4px solid white;
			flex-wrap: wrap;
			justify-content: space-around;
			border-bottom: 1px solid $gray;
			border-left: 1px solid $gray;
			border-right: 1px solid $gray;
			.tab-content-col {
				flex-basis: 280px;
				.tab-content-img {
					height: 130px;
					margin-bottom: 10px;
					.blue-label {
						font-size: 13px;
					}
				}
				.tab-content-label {
					font: 12px $gothambook;
					line-height: 16px;
					color: #222222;
				}
			}
		}
	}
	@include tablet {
		.tab-content-col:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

.mc-katalog-lists-block {
	padding: 40px 0 60px 0;
	position: relative;
	height: 320px;
	overflow: hidden;
	&.block {
		justify-content: initial;
		display: block;
	}
	.katalog-lists {
		display: flex;
		align-items: center;
		list-style: none;
		z-index: 5;
		.katalog-item {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin-right: 25px;
			text-align: center;
			position: relative;
			height: 250px;
			width: 220px;
			&:hover > .item-link {
				display: block;
				border: 2px solid $light-blue;
			}
			.item-image {
				// width: 220px;
				padding: 10px 20px;
				img {
					margin-right: 0;
				}
			}
			.item-info {
				color: darken($gray, 30%);
				h4 {
					margin: 5px 0 0;
					font: 13px $gothammedium;
				}
				h5 {
					margin: 0 0 5px 0;
					font: 13px $gothambook;
				}
				.item-value {
					margin-top: 20px;
				}
			}
			.item-link {
				position: absolute;
				left: 0;
				top: 0;
				height: 230px;
				width: 100%;
				z-index: 3;
				display: none;
				.item-button {
					margin: 50px auto 0 auto;
					a {
						text-decoration: none;
						text-transform: uppercase;
						color: #262626;
						background: $white;
						padding: 10px 20px;
						&:hover {
							text-decoration: underline;
							background: $gray;
						}
					}
				}
			}
		}
	}
}

.customer-support-block {
	padding: 70px 0;
	h4 {
		margin: 0 0 20px 0;
	}
	p {
		line-height: 24px;
		font-size: 14px;
		em {
			font-size: 16px;
			font-style: normal;
		}
	}
	.contact-lists {
		display: flex;
		list-style: none;
		text-transform: uppercase;
		justify-content: space-around;
		margin-top: 40px;
		.contact-item {
			display: flex;
			align-items: center;
			img {
				width: 31px;
				height: 31px;
				margin-right: 10px;
			}
			&:not(:last-child) {
				margin-right: 30px;
			}
			&:nth-child(-n+2) {
				flex-direction: column;
				font: 11px $gothammedium;
				text-align: center;
				.blue-label {
					font-size: 16px;
				}
			}
		}
	}
	@include tablet {
		p {
			padding: 0 60px;
			text-align: center;
		}
		.contact-lists {
			flex-direction: column;
			align-items: center;
			padding: 0;
			.contact-item {
				&:not(:last-child) {
					margin-right: 0;
				}
				margin-bottom: 20px;
			}
		}
	}
}

.bank-merchants-block {
}

.bank-merchants-block {
	padding: 50px 0;
	h4 {
		font: 14px $gothammedium;
		margin-bottom: 30px;
		margin-top: 0;
		text-transform: uppercase;
	}
	img {
		height: 41px;
		width: 564px;
	}
	@include tablet {
		padding: 50px 20px;
		h4 {
			margin-bottom: 40px;
		}
		img {
			max-width: 564px;
			width: 100%;
			height: auto;
		}
	}
}

.sub-nav-block {
	padding: 40px 0;
	ul {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		li {
			flex: 1;
			text-align: center;
			a {
				color: $white;
				text-transform: uppercase;
				text-decoration: none;
				font: 12px $gothammedium;
				&:hover {
					color: $light-blue;
				}
			}
		}
	}
	.copyright {
		color: $gray-blue;
	}
	@include tablet {
		ul {
		    flex-direction: column;
    		padding: 0;
    		li {
    			margin-bottom: 15px;
    		}
		}
	}
}

.static-header-block {
	margin-bottom: 40px;
	.wrapper {
		img {
			max-width: 950px;
			height: 100%;
		}
	}
	@include tablet {
		.wrapper {
			img {
				width: 100%;
			}
		}
	}
}


// Promosi Page
.static-promo-block {
	.wrapper {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		.promo-block {
			background: url('../images/promosi-page/promosi-box-bg.png') no-repeat;
			height: 270px;
			width: 230px;
			color: $white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.promo-percentage {
				display: flex;
				align-items: top;
				h2 {
					font-size: 70px;
					margin: 0 0 10px 0;
				}
				small {
					font-size: 40px;
				}
			}
			.promo-info {
				width: 170px;
				text-align: center;
				h4 {
					text-transform: uppercase;
					margin: 0 0 20px 0;
					font-size: 18px;
					height: 40px;
				}
			}
		}

		.promo1 {
			&:hover {
				background-position: 0 -270px;
			}
		}

		.promo2 {
			background-position: -230px 0px;
			&:hover {
				background-position: -230px -270px;
			}
		}

		.promo3 {
			background-position: -460px 0px;
			&:hover {
				background-position: -460px -270px;
			}
		}

		.promo4 {
			background-position: -690px 0px;
			&:hover {
				background-position: -690px -270px;
			}
		}
	}
	@include tablet {
		.promo-block {
			margin-bottom: 20px;
		}
	}
}



// Bantuan Page
.bantuan-block {
	.wrapper {
		flex-direction: column;
	}
	.bantuan-panel {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		padding: 0 40px;
		.bantuan-title {
			margin: 0;
			color: $white;
			cursor: pointer;
			font: 18px $gothambook;
			margin-bottom: 10px;
			position: relative;
			&::before {
				content: '+';
				text-align: center;
				display: block;
				height: 20px;
				width: 20px;
				border: 1px solid white;
				border-radius: 11px;
				position: absolute;
				top: 0;
				left: -35px;
			}
		}
		.bantuan-body {
			color: $light-blue;
			font: 14px $gothambook;
			line-height: 23px;
			height: 60px;
		}
		&.close > .bantuan-body{
			height: 0;
			transition:height 0.4s ease-out;
			-webkit-transform: scaleY(0);
			-o-transform: scaleY(0);
			-ms-transform: scaleY(0);
			transform: scaleY(0);
		}
		&.open > .bantuan-title {
			&::before {
				content: '-';
			}
		}
		&.open > .bantuan-body {
			width: 100%;
			display:block;
			-webkit-transform: scaleY(1);
			-o-transform: scaleY(1);
			-ms-transform: scaleY(1);
			transform: scaleY(1);
			-webkit-transform-origin: top;
			-o-transform-origin: top;
			-ms-transform-origin: top;
			transform-origin: top;
			-webkit-transition: -webkit-transform 0.4s ease-out;
			-o-transition: -o-transform 0.4s ease;
			-ms-transition: -ms-transform 0.4s ease;
			transition: transform 0.4s ease;
			box-sizing: border-box;
		}
	}
	@include tablet {
		.bantuan-panel {
			&.open {
				margin-bottom: 45px;
			}
		}
	}
	@include mobile {
		.bantuan-panel {
			&.open {
				height: 200px;
			}
		}
	}
}

// Login Page
.login-page {
	padding: 120px 0;
}

.login-block {
	.wrapper {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}
}

.form-heading {
	font: 20px $gothamlight;
	color: $white;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 30px;
	width: 300px;
}

.frm-group {
	margin: 15px auto 5px;
	position: relative;
}

.frm-input {
	background-color: $white;
	border: medium none;
  	padding: 20px 35px 20px 25px;
	border-radius: 6px;
	font-size: 15px;
	outline: none;
	letter-spacing: 1px;
	color: #262626;
	width: 300px;
	&::placeholder{
	  color: $gray;
	}
	&::-webkit-input-placeholder {
	   color: $gray;
	}
}
/* Tooltip container */
.tooltip {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1;
    background: $gray;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 2px;
    .tooltiptext {
	    visibility: hidden;
	    width: 150px;
	    background-color: rgba(0,0,0,0.7);
	    color: #fff;
	    text-align: center;
	    padding: 15px 8px;
	    border-radius: 6px;
	    font-size: 14px;

	    /* Position the tooltip text - see examples below! */
	    position: absolute;
	    z-index: 1;
	    top: -70px;
	    right: -60px;

	    .blue-label {
	    	text-transform: lowercase;
	    }
	}
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.submit-btn {
	background-color: $dark-blue;
	transition: all .5s ease;
	border: medium none;
  	padding: 20px 35px 20px 25px;
	border-radius: 6px;
	font-size: 15px;
	outline: none;
	letter-spacing: 1px;
	color: $white;
	text-transform: uppercase;
	width: 300px;
	cursor: pointer;
	&:hover {
		background-color: $dim-blue;
	}
}

.forgot-password {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	color: $light-blue;
	a {
		color: $white;
	}
}


// Daftar Page
.winner-block {
	.wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.dropdown-panel {
		align-self: flex-end;
		margin-bottom: 20px;
		select {
			background: $dark-blue;
			border: medium none;
			padding: 12px 15px;
			color: $white;
			width: 200px;
		}
	}
	.winner-board {
		border: 1px solid $light-blue;
		width: inherit;
		h3 {
			margin: 0;
			text-align: center;
			background: $dark-blue;
			color: $white;
			font: 16px $gothammedium;
			padding: 15px 0;
			border-bottom: 1px solid $light-blue;
		}
		.winner-list {
			padding: 25px 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			.single-list {
				flex: 0;
			}
			ol {
				color: $white;
				flex: 1;
				justify-content: space-between;
				li {
					margin-bottom: 5px;
				}
			}
		}
	}
}


//katalog
.katalog-block {
	.wrapper {
		display: block;
	}
}
.katalog-category {
	ul {
		padding-left: 0;
		margin-top: 0;
		display: flex;
		list-style: none;
		li {
			margin-right: 5px;
		    font-family: $gothamlight;
		    margin: 0px 1px 0px 0px;
		    font-size: 13px;
		    color: $white;
		    padding: 5px 12px;
		    cursor: pointer;
		    transition: all .3s ease;
		    &.active-katalog {
				color: $white;
				background-color: #005088;
				border: 1px solid #004B82;
				border-radius: 15px;
				font-family: $gothammedium;
			}
			&:hover {
				font-family: $gothammedium;
			}
		}
	}
}
.katalog-products-container, .initial-filter{
	min-height: 40vh;
	transition: all .5s ease;
	.katalog-products, .filter-grid{
		position: absolute;
		display: inline-block;
		cursor: pointer;
		transition: all .5s cubic-bezier(0.65,-0.16, 0.38, 1.19);
		width: 220px;
		outline: none;
		margin: 20px 10px 100px 0px;
		text-align: center;
		background: #dddddd; /* Old browsers */
		background: -moz-linear-gradient(top, #004F87 50%, rgba(#006AA8, 0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #004F87 50%, rgba(#006AA8, 0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #004F87 50%, rgba(#006AA8, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		img{
			margin: auto;
			padding: 30px 0px;
		}
	}
	.hover-tint {
		display: none;
		background: #222; /* Old browsers */
		position: absolute;
		width: 100%;
		height: 100%;
		animation-name: hoveranim;
		animation-duration: .5s;
		animation-fill-mode: forwards;
	}
	@keyframes hoveranim {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.96) 0%, rgba(30, 30, 30, 0.88) 60%, rgba(30, 30, 30, 0.88) 50%, rgba(30, 30, 30, 0.88) 51%, rgba(0, 0, 0, 0.0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.96) 0%, rgba(30, 30, 30, 0.88) 60%, rgba(30, 30, 30, 0.88) 50%,rgba(30, 30, 30, 0.88) 51%,rgba(0, 0, 0, 0.0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.96) 0%, rgba(30, 30, 30, 0.88) 60%, rgba(30, 30, 30, 0.88) 50%,rgba(30, 30, 30, 0.88) 51%,rgba(0, 0, 0, 0.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
	}
	.hover-tint-button{
		font-family: GothamLight;
		background-color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: black;
		padding: 10px 15px;
		font-size: 13px;
		position: absolute;
		transition: all .2s ease;
	}
	.hover-tint-button:hover{
		color: white;
		background-color: #111;
	}
	.katalog-products:hover >.hover-tint, .filter-grid:hover > .hover-tint{
		display: block;
	}
	.new::after{
		content: "";
		background-image: url(../images/logos/new-pointer.png);
		width: 62px;
		height: 62px;
		position: absolute;
		top: 0;
		right: 0;
	}
	.jquery-hide{
		opacity: 0;
		transform:scale(0.3) !important;
		z-index: -1;
	}
}
.product-desc-container{
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	font-family: GothamLight;
	.product-brand{
		text-transform: uppercase;
		font-size: 14px;
		font-family: GothamMedium;
		margin-bottom: 5px;
		letter-spacing: 1px;
	}
	.product-name{
		font-size: 14px;
	}
	.product-point{
		margin-top: 20px;
		font-size: 14px;
	}
}
.initial-filter{
	min-height: 60vh !important;
}
.filter-grid{
	margin: 20px 10px 20px 0px !important;
	position: relative !important;
	img{
		height: 140px !important;
	}
}
.katalog-products-container{
	opacity: 0;
	position: absolute;
	transition: all .3s ease;
}
.katalog-pagination{
	text-align: center;
	ul > li{
		display: inline-block;
		color: $white;
		opacity: 0.87;
		font-family: $gothamlight;
		margin: 0px 10px;
		padding: 10px 15px;
		cursor: pointer;
	}
	li.page-active{
		background-color: $light-blue;
	}
}

.katalog-disclaimer {
	border: 1px solid $light-blue;
	padding: 20px 35px;
	text-align: center;
	color: $white;
	margin: 30px auto;
	font: 14px $gothambook;
	line-height: 23px;
	width: 540px;
}
//katalog