// Fonts
@font-face {
  font-family: GothamLight;
  src: url(../fonts/Gotham/Gotham-Light.otf);
}
@font-face {
  font-family: GothamBook;
  src: url(../fonts/Gotham/Gotham-Book.otf);
}
@font-face {
  font-family: GothamMedium;
  src: url(../fonts/Gotham/Gotham-Medium.otf);
}
@font-face {
  font-family: Rage;
  src: url(../fonts/Gotham/RAGE.ttf);
}

$gothamlight: 'GothamLight';
$gothambook: 'GothamBook';
$gothammedium: 'GothamMedium';
$rage: 'Rage';

// Colors
$white: #F1F1F1;
$dim-blue: #7FABCF;
$light-blue: #1AABE0;
$dark-blue: #00406C;
$gray-blue: #4F87B5;
$gray: #CCCCCC;

$navbar: #005DA0;
$navbar-border: #C5DBEC;
$footer-bg: $dark-blue;

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
