@include font-face('Robotoreg', 'Roboto-Regular', 'roboto', 'sans-serif');
@include font-face('Robotomed', 'Roboto-Medium', 'roboto', 'sans-serif');
@include font-face('Robotolight', 'Roboto-Light', 'roboto', 'sans-serif');

$roboto: Robotoreg, sans-serif;
$robotomed: Robotomed, sans-serif;
$robotolight: Robotolight, sans-serif;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  background: $body;
  position: relative;
  font-family: $roboto;
}

h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}

.input-field {
  input[type=text]:focus {
    border-bottom: 1px solid $signature-blue !important;
    box-shadow: 0 1px 0 0 $signature-blue !important;
  }
}

.panel {
  background: $white;
  border: 5px solid $body;
}

.action-list {
  display: flex;
  align-items: center;
  li {
    flex: 1;
    &.last-item {
      align-self: flex-end;
    } 
  }
}

table{
  &.highlight {
    tbody {
      tr {
        &:hover {
          color: $white;
          background: $signature-blue;
        }
      }
    }
  }
}

.content {
  margin-left: 16.6666666667% !important;
}