aside {
  // background: $aside-bg;
  height: 100%;
  position: fixed;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#013a80+39,2989d8+100 */
  background: #013a80; /* Old browsers */
  background: -moz-linear-gradient(top,  #013a80 39%, #2989d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #013a80 39%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #013a80 39%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013a80', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
}



.menu-block-greeting {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.menu-block-title {
  color: #A2ADBB;
  font: 12px $robotomed;
}

.menu-block {
  padding-left: 20px;
  margin: 20px 0;
  ul {
    list-style: none;
    li {
      padding: 10px 0 10px 5px;
      &:hover, &.active {
        font-family: $robotomed;
        background: rgba(255,255,255,0.2);
      }
      a {
        color: $white;
        font: 18px $robotolight;
        display: block;
        width: 100%;
      }
    }
  }
}


header {
  background: $white;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
main {
  padding: 20px 30px;
}

