// Color
$white: #FFFFFF;
$gray: #9C9EA3;
$blue: #2D76A0;
$dark-blue: #1D232F;
$dark-gray: #353B47;
$signature-blue: #2196F3;

$black: #212236;
$violet: #272755;
$yellow: #FFC000;
$light-blue: #37B0B8;
$black-dark: #303038;

$red: #d32f2f;
$green: #43a047;

$body: #F6F7F9;
$main-bg: $gray;
$aside-bg: $dark-blue;
$aside-bg-tint: darken($black, 5%);
$aside-menu-color: $dark-blue;

$success: $green;
$error: $red;
$warning: $yellow;

$base-margin: 10%;