@font-face {
  font-family: GothamLight;
  src: url(../fonts/Gotham/Gotham-Light.otf);
}
@font-face {
  font-family: GothamBook;
  src: url(../fonts/Gotham/Gotham-Book.otf);
}
@font-face {
  font-family: GothamMedium;
  src: url(../fonts/Gotham/Gotham-Medium.otf);
}
@font-face {
  font-family: Rage;
  src: url(../fonts/Gotham/RAGE.ttf);
}
/* line 1, ../../../resources/assets/sass/app_components/_typography.scss */
p {
  margin-bottom: 1.3em;
}

/* line 3, ../../../resources/assets/sass/app_components/_typography.scss */
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

/* line 9, ../../../resources/assets/sass/app_components/_typography.scss */
h1 {
  margin-top: 0;
  font-size: 3.998em;
}

/* line 14, ../../../resources/assets/sass/app_components/_typography.scss */
h2 {
  font-size: 2.827em;
}

/* line 16, ../../../resources/assets/sass/app_components/_typography.scss */
h3 {
  font-size: 1.999em;
}

/* line 18, ../../../resources/assets/sass/app_components/_typography.scss */
h4 {
  font-size: 1.414em;
}

/* line 20, ../../../resources/assets/sass/app_components/_typography.scss */
small, .font_small {
  font-size: 0.707em;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 59, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 83, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 91, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 105, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 198, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 207, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 221, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
/* line 231, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 251, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 266, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 276, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 291, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 301, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 310, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 320, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 331, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 339, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 348, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 357, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 365, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
sub {
  bottom: -0.25em;
}

/* line 369, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 382, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 391, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 400, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 408, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 422, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
/* line 442, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 451, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 462, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/* line 469, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
/* line 478, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/* line 487, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
/* line 496, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 505, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 515, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 525, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
/* line 533, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 544, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 553, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 566, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 580, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 589, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
/* line 602, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 610, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
/* line 618, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 651, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 659, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 672, ../../../resources/assets/components/normalize-scss/sass/normalize/_normalize-mixin.scss */
[hidden] {
  display: none;
}

/* line 4, ../../../resources/assets/sass/app_components/_base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 10, ../../../resources/assets/sass/app_components/_base.scss */
body {
  height: 100%;
  width: 100%;
  font: 16px "GothamBook";
}

/* line 16, ../../../resources/assets/sass/app_components/_base.scss */
a {
  text-decoration: none;
}

/* line 20, ../../../resources/assets/sass/app_components/_base.scss */
main {
  background: #006AA8;
}

/* line 24, ../../../resources/assets/sass/app_components/_base.scss */
footer {
  background: #00406C;
  color: #F1F1F1;
}
/* line 27, ../../../resources/assets/sass/app_components/_base.scss */
footer .wrapper {
  align-items: center;
  flex-direction: column;
}

/* line 36, ../../../resources/assets/sass/app_components/_base.scss */
.info-btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 10px 8px;
  width: 120px;
  border: 1px solid #7DCBFD;
  color: #7DCBFD;
  height: 40px;
  width: 140px;
}
/* line 47, ../../../resources/assets/sass/app_components/_base.scss */
.info-btn:hover {
  background: #7DCBFD;
  color: #26688F;
}

/* line 53, ../../../resources/assets/sass/app_components/_base.scss */
.wrapper {
  display: flex;
  width: 950px;
  position: relative;
}
@media screen and (max-width: 414px) {
  /* line 53, ../../../resources/assets/sass/app_components/_base.scss */
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
}

/* line 63, ../../../resources/assets/sass/app_components/_base.scss */
.block {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* line 69, ../../../resources/assets/sass/app_components/_base.scss */
.divider {
  background: url("../images/common-page/ft-divider.png") repeat-x;
  height: 2px;
  width: 100%;
}

/* line 75, ../../../resources/assets/sass/app_components/_base.scss */
.blue-label {
  color: #1AABE0;
  font: 14px "GothamMedium";
  text-transform: uppercase;
}

/* line 81, ../../../resources/assets/sass/app_components/_base.scss */
.centered {
  text-align: center;
}

/* line 85, ../../../resources/assets/sass/app_components/_base.scss */
.bg-white {
  background: white;
}

/* line 89, ../../../resources/assets/sass/app_components/_base.scss */
.index-page {
  background: url("../images/index-page/mc-bg.png") no-repeat;
  background-size: cover;
}

/* line 94, ../../../resources/assets/sass/app_components/_base.scss */
.static-page {
  background: url("../images/common-page/cm-header-bg.png") repeat-x;
  min-height: 300px;
  padding: 60px 0;
}

/* line 100, ../../../resources/assets/sass/app_components/_base.scss */
.page-title {
  color: #F1F1F1;
  margin: 0 0 20px 0;
}

/* line 1, ../../../resources/assets/sass/app_components/_style.scss */
.top-block {
  background: url("../images/common-page/tbar-bg.png") repeat-x;
  flex-direction: column;
  align-items: center;
  height: 55px;
}
/* line 6, ../../../resources/assets/sass/app_components/_style.scss */
.top-block .wrapper {
  height: inherit;
  align-items: center;
  justify-content: center;
}
/* line 10, ../../../resources/assets/sass/app_components/_style.scss */
.top-block .wrapper h4 {
  margin: 0 10px 0 0;
  font-size: 14px;
  color: #F1F1F1;
}
/* line 15, ../../../resources/assets/sass/app_components/_style.scss */
.top-block .wrapper a {
  height: 17px;
  width: 116px;
}
/* line 18, ../../../resources/assets/sass/app_components/_style.scss */
.top-block .wrapper a img {
  height: 17px;
  width: 116px;
}
@media screen and (max-width: 1049px) {
  /* line 26, ../../../resources/assets/sass/app_components/_style.scss */
  .top-block .wrapper h4 {
    font-size: 12px;
    text-align: left;
  }
}

/* line 34, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block {
  background: #005DA0;
  border-top: 1px solid #C5DBEC;
  border-bottom: 1px solid #C5DBEC;
  height: 75px;
}
/* line 39, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper {
  height: inherit;
  align-items: center;
  justify-content: center;
}
/* line 43, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .logo {
  width: 200px;
  padding: 0 5px;
}
/* line 46, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .logo img {
  height: auto;
  width: 187px;
}
/* line 51, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper nav {
  width: 100%;
}
/* line 54, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 75px;
}
/* line 61, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li {
  flex: 1;
  text-align: center;
  padding-top: 25px;
  border-right: 1px solid #C5DBEC;
  position: relative;
  height: 73px;
}
/* line 69, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li a {
  color: #7FABCF;
  text-decoration: none;
  position: relative;
  z-index: 5;
}
/* line 75, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li:hover, .nav-block .wrapper .topnav li.active {
  cursor: pointer;
  background: url("../images/common-page/nav-bg1.png") no-repeat;
}
/* line 78, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li:hover::after, .nav-block .wrapper .topnav li.active::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background: url("../images/common-page/nav-bg2.png") no-repeat;
  background-position: right;
}
/* line 90, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li:hover a, .nav-block .wrapper .topnav li.active a {
  color: #F1F1F1;
}
/* line 94, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li:nth-child(2) {
  border-left: 1px solid #C5DBEC;
}
/* line 97, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li:nth-child(4) {
  flex: 2;
}
/* line 100, ../../../resources/assets/sass/app_components/_style.scss */
.nav-block .wrapper .topnav li.icon, .nav-block .wrapper .topnav li.home {
  display: none;
}
@media screen and (max-width: 1049px) {
  /* line 34, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block {
    height: 65px;
  }
  /* line 111, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .logo img {
    width: 100%;
  }
  /* line 115, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav {
    position: relative;
    height: 65px;
  }
  /* line 118, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav.responsive {
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 122, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav.responsive li:not(:last-child) {
    display: block;
    background: #005DA0;
    z-index: 5;
    position: relative;
    width: 100%;
    text-align: left;
  }
  /* line 129, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav.responsive li:not(:last-child):hover {
    background: #1AABE0;
  }
  /* line 135, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li {
    border-right: none;
    flex: 0;
    height: 65px;
  }
  /* line 139, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li:hover {
    background: #005DA0;
  }
  /* line 141, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li:hover::after {
    content: none;
  }
  /* line 145, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li.home {
    display: block;
    width: 100%;
  }
  /* line 148, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li.home:hover {
    background: #005DA0;
  }
  /* line 152, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li:not(:first-child) {
    display: none;
  }
  /* line 155, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li:nth-child(2) {
    border-left: 0;
  }
  /* line 158, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li:not(:last-child) {
    padding-left: 15px;
    padding-bottom: 15px;
  }
  /* line 162, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }
  /* line 168, ../../../resources/assets/sass/app_components/_style.scss */
  .nav-block .wrapper .topnav li.icon:hover {
    background: #1AABE0;
  }
}

/* line 178, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block {
  width: 100%;
  height: auto;
  position: relative;
}
/* line 182, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 189, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 196, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
/* line 203, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 210, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides_tabs {
  position: absolute;
  bottom: 25px;
  z-index: 10;
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
}
/* line 220, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides_tabs li {
  background: #ccc;
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
/* line 227, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides_tabs li.rslides_here {
  background: #F1F1F1;
}
/* line 230, ../../../resources/assets/sass/app_components/_style.scss */
.slider-block .rslides_tabs li a {
  font: a/a;
  color: transparent;
}

/* line 238, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block {
  height: 100%;
  padding-top: 65px;
  padding-bottom: 40px;
}
/* line 242, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-context {
  text-align: left;
  padding-right: 20px;
  height: auto;
  width: 465px;
  height: auto;
  min-height: 200px;
}
/* line 249, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-context h3 {
  margin: 0 0 25px 0;
  font: 23px "GothamMedium";
  text-transform: uppercase;
}
/* line 254, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-context p {
  font: 14px "GothamBook";
  line-height: 22px;
  margin-bottom: 30px;
}
/* line 258, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-context p:last-child {
  margin-bottom: 0;
}
/* line 263, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image {
  position: relative;
  width: 465px;
  height: auto;
  min-height: 400px;
}
/* line 268, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image img {
  position: absolute;
}
/* line 270, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image img.img1 {
  bottom: 60px;
  right: 42px;
  z-index: 4;
}
/* line 275, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image img.img2 {
  bottom: 43px;
  right: 0px;
  z-index: 1;
}
/* line 280, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image img.img3 {
  bottom: 71px;
  right: 145px;
  z-index: 3;
}
/* line 285, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image img.img4 {
  bottom: 65px;
  left: 20px;
  z-index: 3;
}
/* line 290, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image img.img5 {
  bottom: 60px;
  left: 80px;
  z-index: 3;
}
/* line 295, ../../../resources/assets/sass/app_components/_style.scss */
.mc-block .mc-block-image img.img6 {
  bottom: 46px;
  right: 21px;
  z-index: 1;
}
@media screen and (max-width: 1049px) {
  /* line 303, ../../../resources/assets/sass/app_components/_style.scss */
  .mc-block .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 307, ../../../resources/assets/sass/app_components/_style.scss */
  .mc-block .wrapper .mc-block-context h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  /* line 311, ../../../resources/assets/sass/app_components/_style.scss */
  .mc-block .wrapper .mc-block-context p {
    font: 9px "GothamBook";
    line-height: 18px;
    margin-bottom: 30px;
  }
  /* line 315, ../../../resources/assets/sass/app_components/_style.scss */
  .mc-block .wrapper .mc-block-context p:last-child {
    margin-bottom: 0;
  }
  /* line 320, ../../../resources/assets/sass/app_components/_style.scss */
  .mc-block .wrapper .mc-block-image {
    position: relative;
    width: 465px;
    height: auto;
    min-height: 400px;
  }
  /* line 325, ../../../resources/assets/sass/app_components/_style.scss */
  .mc-block .wrapper .mc-block-image img {
    position: absolute;
    max-width: 100%;
    height: auto;
  }
}

/* line 335, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block {
  margin-bottom: 60px;
}
/* line 337, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper {
  flex-direction: column;
}
/* line 339, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tabs {
  display: flex;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 56px;
  align-items: center;
  margin: 20px 0 1px 0;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
/* line 350, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tabs .mc-tab-item {
  flex: 1;
  background: red;
}
/* line 353, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tabs .mc-tab-item .mc-tab-link {
  text-align: center;
  background-color: #CCCCCC;
  padding: 20px;
  border-bottom: 4px solid #bbb;
  font-family: GothamMedium;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
/* line 365, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tabs .mc-tab-item .mc-tab-link.active {
  background: white;
  border-bottom: none;
}
/* line 372, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tab-content {
  padding: 40px 5%;
  text-align: center;
  min-height: 250px;
  display: none;
  transition: all .5s ease;
  background-color: white;
  border-bottom: 4px solid white;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
/* line 385, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tab-content .tab-content-col {
  flex-basis: 280px;
}
/* line 387, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tab-content .tab-content-col .tab-content-img {
  height: 130px;
  margin-bottom: 10px;
}
/* line 390, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tab-content .tab-content-col .tab-content-img .blue-label {
  font-size: 13px;
}
/* line 394, ../../../resources/assets/sass/app_components/_style.scss */
.mc-tab-block .wrapper .mc-tab-content .tab-content-col .tab-content-label {
  font: 12px "GothamBook";
  line-height: 16px;
  color: #222222;
}
@media screen and (max-width: 1049px) {
  /* line 403, ../../../resources/assets/sass/app_components/_style.scss */
  .mc-tab-block .tab-content-col:not(:last-child) {
    margin-bottom: 25px;
  }
}

/* line 409, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block {
  padding: 40px 0 60px 0;
  position: relative;
  height: 320px;
  overflow: hidden;
}
/* line 414, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block.block {
  justify-content: initial;
  display: block;
}
/* line 418, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists {
  display: flex;
  align-items: center;
  list-style: none;
  z-index: 5;
}
/* line 423, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 25px;
  text-align: center;
  position: relative;
  height: 250px;
  width: 220px;
}
/* line 432, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item:hover > .item-link {
  display: block;
  border: 2px solid #1AABE0;
}
/* line 436, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-image {
  padding: 10px 20px;
}
/* line 439, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-image img {
  margin-right: 0;
}
/* line 443, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-info {
  color: gray;
}
/* line 445, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-info h4 {
  margin: 5px 0 0;
  font: 13px "GothamMedium";
}
/* line 449, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-info h5 {
  margin: 0 0 5px 0;
  font: 13px "GothamBook";
}
/* line 453, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-info .item-value {
  margin-top: 20px;
}
/* line 457, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-link {
  position: absolute;
  left: 0;
  top: 0;
  height: 230px;
  width: 100%;
  z-index: 3;
  display: none;
}
/* line 465, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-link .item-button {
  margin: 50px auto 0 auto;
}
/* line 467, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-link .item-button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  background: #F1F1F1;
  padding: 10px 20px;
}
/* line 473, ../../../resources/assets/sass/app_components/_style.scss */
.mc-katalog-lists-block .katalog-lists .katalog-item .item-link .item-button a:hover {
  text-decoration: underline;
  background: #CCCCCC;
}

/* line 484, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block {
  padding: 70px 0;
}
/* line 486, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block h4 {
  margin: 0 0 20px 0;
}
/* line 489, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block p {
  line-height: 24px;
  font-size: 14px;
}
/* line 492, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block p em {
  font-size: 16px;
  font-style: normal;
}
/* line 497, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block .contact-lists {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-around;
  margin-top: 40px;
}
/* line 503, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block .contact-lists .contact-item {
  display: flex;
  align-items: center;
}
/* line 506, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block .contact-lists .contact-item img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
}
/* line 511, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block .contact-lists .contact-item:not(:last-child) {
  margin-right: 30px;
}
/* line 514, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block .contact-lists .contact-item:nth-child(-n+2) {
  flex-direction: column;
  font: 11px "GothamMedium";
  text-align: center;
}
/* line 518, ../../../resources/assets/sass/app_components/_style.scss */
.customer-support-block .contact-lists .contact-item:nth-child(-n+2) .blue-label {
  font-size: 16px;
}
@media screen and (max-width: 1049px) {
  /* line 525, ../../../resources/assets/sass/app_components/_style.scss */
  .customer-support-block p {
    padding: 0 60px;
    text-align: center;
  }
  /* line 529, ../../../resources/assets/sass/app_components/_style.scss */
  .customer-support-block .contact-lists {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  /* line 533, ../../../resources/assets/sass/app_components/_style.scss */
  .customer-support-block .contact-lists .contact-item {
    margin-bottom: 20px;
  }
  /* line 534, ../../../resources/assets/sass/app_components/_style.scss */
  .customer-support-block .contact-lists .contact-item:not(:last-child) {
    margin-right: 0;
  }
}

/* line 546, ../../../resources/assets/sass/app_components/_style.scss */
.bank-merchants-block {
  padding: 50px 0;
}
/* line 548, ../../../resources/assets/sass/app_components/_style.scss */
.bank-merchants-block h4 {
  font: 14px "GothamMedium";
  margin-bottom: 30px;
  margin-top: 0;
  text-transform: uppercase;
}
/* line 554, ../../../resources/assets/sass/app_components/_style.scss */
.bank-merchants-block img {
  height: 41px;
  width: 564px;
}
@media screen and (max-width: 1049px) {
  /* line 546, ../../../resources/assets/sass/app_components/_style.scss */
  .bank-merchants-block {
    padding: 50px 20px;
  }
  /* line 560, ../../../resources/assets/sass/app_components/_style.scss */
  .bank-merchants-block h4 {
    margin-bottom: 40px;
  }
  /* line 563, ../../../resources/assets/sass/app_components/_style.scss */
  .bank-merchants-block img {
    max-width: 564px;
    width: 100%;
    height: auto;
  }
}

/* line 571, ../../../resources/assets/sass/app_components/_style.scss */
.sub-nav-block {
  padding: 40px 0;
}
/* line 573, ../../../resources/assets/sass/app_components/_style.scss */
.sub-nav-block ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
/* line 579, ../../../resources/assets/sass/app_components/_style.scss */
.sub-nav-block ul li {
  flex: 1;
  text-align: center;
}
/* line 582, ../../../resources/assets/sass/app_components/_style.scss */
.sub-nav-block ul li a {
  color: #F1F1F1;
  text-transform: uppercase;
  text-decoration: none;
  font: 12px "GothamMedium";
}
/* line 587, ../../../resources/assets/sass/app_components/_style.scss */
.sub-nav-block ul li a:hover {
  color: #1AABE0;
}
/* line 593, ../../../resources/assets/sass/app_components/_style.scss */
.sub-nav-block .copyright {
  color: #4F87B5;
}
@media screen and (max-width: 1049px) {
  /* line 597, ../../../resources/assets/sass/app_components/_style.scss */
  .sub-nav-block ul {
    flex-direction: column;
    padding: 0;
  }
  /* line 600, ../../../resources/assets/sass/app_components/_style.scss */
  .sub-nav-block ul li {
    margin-bottom: 15px;
  }
}

/* line 607, ../../../resources/assets/sass/app_components/_style.scss */
.static-header-block {
  margin-bottom: 40px;
}
/* line 610, ../../../resources/assets/sass/app_components/_style.scss */
.static-header-block .wrapper img {
  max-width: 950px;
  height: 100%;
}
@media screen and (max-width: 1049px) {
  /* line 617, ../../../resources/assets/sass/app_components/_style.scss */
  .static-header-block .wrapper img {
    width: 100%;
  }
}

/* line 627, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* line 631, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo-block {
  background: url("../images/promosi-page/promosi-box-bg.png") no-repeat;
  height: 270px;
  width: 230px;
  color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 640, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo-block .promo-percentage {
  display: flex;
  align-items: top;
}
/* line 643, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo-block .promo-percentage h2 {
  font-size: 70px;
  margin: 0 0 10px 0;
}
/* line 647, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo-block .promo-percentage small {
  font-size: 40px;
}
/* line 651, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo-block .promo-info {
  width: 170px;
  text-align: center;
}
/* line 654, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo-block .promo-info h4 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-size: 18px;
  height: 40px;
}
/* line 664, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo1:hover {
  background-position: 0 -270px;
}
/* line 669, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo2 {
  background-position: -230px 0px;
}
/* line 671, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo2:hover {
  background-position: -230px -270px;
}
/* line 676, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo3 {
  background-position: -460px 0px;
}
/* line 678, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo3:hover {
  background-position: -460px -270px;
}
/* line 683, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo4 {
  background-position: -690px 0px;
}
/* line 685, ../../../resources/assets/sass/app_components/_style.scss */
.static-promo-block .wrapper .promo4:hover {
  background-position: -690px -270px;
}
@media screen and (max-width: 1049px) {
  /* line 691, ../../../resources/assets/sass/app_components/_style.scss */
  .static-promo-block .promo-block {
    margin-bottom: 20px;
  }
}

/* line 701, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .wrapper {
  flex-direction: column;
}
/* line 704, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel {
  padding: 0 40px;
}
/* line 705, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel:not(:last-child) {
  margin-bottom: 15px;
}
/* line 709, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel .bantuan-title {
  margin: 0;
  color: #F1F1F1;
  cursor: pointer;
  font: 18px "GothamBook";
  margin-bottom: 10px;
  position: relative;
}
/* line 716, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel .bantuan-title::before {
  content: '+';
  text-align: center;
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 11px;
  position: absolute;
  top: 0;
  left: -35px;
}
/* line 729, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel .bantuan-body {
  color: #1AABE0;
  font: 14px "GothamBook";
  line-height: 23px;
  height: 60px;
}
/* line 735, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel.close > .bantuan-body {
  height: 0;
  transition: height 0.4s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}
/* line 744, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel.open > .bantuan-title::before {
  content: '-';
}
/* line 748, ../../../resources/assets/sass/app_components/_style.scss */
.bantuan-block .bantuan-panel.open > .bantuan-body {
  width: 100%;
  display: block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}
@media screen and (max-width: 1049px) {
  /* line 768, ../../../resources/assets/sass/app_components/_style.scss */
  .bantuan-block .bantuan-panel.open {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 414px) {
  /* line 775, ../../../resources/assets/sass/app_components/_style.scss */
  .bantuan-block .bantuan-panel.open {
    height: 200px;
  }
}

/* line 783, ../../../resources/assets/sass/app_components/_style.scss */
.login-page {
  padding: 120px 0;
}

/* line 788, ../../../resources/assets/sass/app_components/_style.scss */
.login-block .wrapper {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* line 796, ../../../resources/assets/sass/app_components/_style.scss */
.form-heading {
  font: 20px "GothamLight";
  color: #F1F1F1;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 300px;
}

/* line 807, ../../../resources/assets/sass/app_components/_style.scss */
.frm-group {
  margin: 15px auto 5px;
  position: relative;
}

/* line 812, ../../../resources/assets/sass/app_components/_style.scss */
.frm-input {
  background-color: #F1F1F1;
  border: medium none;
  padding: 20px 35px 20px 25px;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  letter-spacing: 1px;
  color: #262626;
  width: 300px;
}
/* line 822, ../../../resources/assets/sass/app_components/_style.scss */
.frm-input::placeholder {
  color: #CCCCCC;
}
/* line 825, ../../../resources/assets/sass/app_components/_style.scss */
.frm-input::-webkit-input-placeholder {
  color: #CCCCCC;
}

/* Tooltip container */
/* line 830, ../../../resources/assets/sass/app_components/_style.scss */
.tooltip {
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 1;
  background: #CCCCCC;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  text-align: center;
  padding-top: 2px;
}
/* line 841, ../../../resources/assets/sass/app_components/_style.scss */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 15px 8px;
  border-radius: 6px;
  font-size: 14px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -70px;
  right: -60px;
}
/* line 857, ../../../resources/assets/sass/app_components/_style.scss */
.tooltip .tooltiptext .blue-label {
  text-transform: lowercase;
}

/* Show the tooltip text when you mouse over the tooltip container */
/* line 863, ../../../resources/assets/sass/app_components/_style.scss */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* line 867, ../../../resources/assets/sass/app_components/_style.scss */
.submit-btn {
  background-color: #00406C;
  transition: all .5s ease;
  border: medium none;
  padding: 20px 35px 20px 25px;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  letter-spacing: 1px;
  color: #F1F1F1;
  text-transform: uppercase;
  width: 300px;
  cursor: pointer;
}
/* line 880, ../../../resources/assets/sass/app_components/_style.scss */
.submit-btn:hover {
  background-color: #7FABCF;
}

/* line 885, ../../../resources/assets/sass/app_components/_style.scss */
.forgot-password {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #1AABE0;
}
/* line 890, ../../../resources/assets/sass/app_components/_style.scss */
.forgot-password a {
  color: #F1F1F1;
}

/* line 898, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 903, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .dropdown-panel {
  align-self: flex-end;
  margin-bottom: 20px;
}
/* line 906, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .dropdown-panel select {
  background: #00406C;
  border: medium none;
  padding: 12px 15px;
  color: #F1F1F1;
  width: 200px;
}
/* line 914, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .winner-board {
  border: 1px solid #1AABE0;
  width: inherit;
}
/* line 917, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .winner-board h3 {
  margin: 0;
  text-align: center;
  background: #00406C;
  color: #F1F1F1;
  font: 16px "GothamMedium";
  padding: 15px 0;
  border-bottom: 1px solid #1AABE0;
}
/* line 926, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .winner-board .winner-list {
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 931, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .winner-board .winner-list .single-list {
  flex: 0;
}
/* line 934, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .winner-board .winner-list ol {
  color: #F1F1F1;
  flex: 1;
  justify-content: space-between;
}
/* line 938, ../../../resources/assets/sass/app_components/_style.scss */
.winner-block .winner-board .winner-list ol li {
  margin-bottom: 5px;
}

/* line 949, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-block .wrapper {
  display: block;
}

/* line 954, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-category ul {
  padding-left: 0;
  margin-top: 0;
  display: flex;
  list-style: none;
}
/* line 959, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-category ul li {
  margin-right: 5px;
  font-family: "GothamLight";
  margin: 0px 1px 0px 0px;
  font-size: 13px;
  color: #F1F1F1;
  padding: 5px 12px;
  cursor: pointer;
  transition: all .3s ease;
}
/* line 968, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-category ul li.active-katalog {
  color: #F1F1F1;
  background-color: #005088;
  border: 1px solid #004B82;
  border-radius: 15px;
  font-family: "GothamMedium";
}
/* line 975, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-category ul li:hover {
  font-family: "GothamMedium";
}

/* line 981, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container, .initial-filter {
  min-height: 40vh;
  transition: all .5s ease;
}
/* line 984, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .katalog-products, .katalog-products-container .filter-grid, .initial-filter .katalog-products, .initial-filter .filter-grid {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.65, -0.16, 0.38, 1.19);
  width: 220px;
  outline: none;
  margin: 20px 10px 100px 0px;
  text-align: center;
  background: #dddddd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #004F87 50%, rgba(0, 106, 168, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #004F87 50%, rgba(0, 106, 168, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #004F87 50%, rgba(0, 106, 168, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* line 997, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .katalog-products img, .katalog-products-container .filter-grid img, .initial-filter .katalog-products img, .initial-filter .filter-grid img {
  margin: auto;
  padding: 30px 0px;
}
/* line 1002, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .hover-tint, .initial-filter .hover-tint {
  display: none;
  background: #222;
  /* Old browsers */
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: hoveranim;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
@keyframes hoveranim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.96) 0%, rgba(30, 30, 30, 0.88) 60%, rgba(30, 30, 30, 0.88) 50%, rgba(30, 30, 30, 0.88) 51%, transparent 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.96) 0%, rgba(30, 30, 30, 0.88) 60%, rgba(30, 30, 30, 0.88) 50%, rgba(30, 30, 30, 0.88) 51%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.96) 0%, rgba(30, 30, 30, 0.88) 60%, rgba(30, 30, 30, 0.88) 50%, rgba(30, 30, 30, 0.88) 51%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
/* line 1023, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .hover-tint-button, .initial-filter .hover-tint-button {
  font-family: GothamLight;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px 15px;
  font-size: 13px;
  position: absolute;
  transition: all .2s ease;
}
/* line 1035, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .hover-tint-button:hover, .initial-filter .hover-tint-button:hover {
  color: white;
  background-color: #111;
}
/* line 1039, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .katalog-products:hover > .hover-tint, .katalog-products-container .filter-grid:hover > .hover-tint, .initial-filter .katalog-products:hover > .hover-tint, .initial-filter .filter-grid:hover > .hover-tint {
  display: block;
}
/* line 1042, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .new::after, .initial-filter .new::after {
  content: "";
  background-image: url(../images/logos/new-pointer.png);
  width: 62px;
  height: 62px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 1051, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container .jquery-hide, .initial-filter .jquery-hide {
  opacity: 0;
  transform: scale(0.3) !important;
  z-index: -1;
}

/* line 1057, ../../../resources/assets/sass/app_components/_style.scss */
.product-desc-container {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-family: GothamLight;
}
/* line 1063, ../../../resources/assets/sass/app_components/_style.scss */
.product-desc-container .product-brand {
  text-transform: uppercase;
  font-size: 14px;
  font-family: GothamMedium;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
/* line 1070, ../../../resources/assets/sass/app_components/_style.scss */
.product-desc-container .product-name {
  font-size: 14px;
}
/* line 1073, ../../../resources/assets/sass/app_components/_style.scss */
.product-desc-container .product-point {
  margin-top: 20px;
  font-size: 14px;
}

/* line 1078, ../../../resources/assets/sass/app_components/_style.scss */
.initial-filter {
  min-height: 60vh !important;
}

/* line 1081, ../../../resources/assets/sass/app_components/_style.scss */
.filter-grid {
  margin: 20px 10px 20px 0px !important;
  position: relative !important;
}
/* line 1084, ../../../resources/assets/sass/app_components/_style.scss */
.filter-grid img {
  height: 140px !important;
}

/* line 1088, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-products-container {
  opacity: 0;
  position: absolute;
  transition: all .3s ease;
}

/* line 1093, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-pagination {
  text-align: center;
}
/* line 1095, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-pagination ul > li {
  display: inline-block;
  color: #F1F1F1;
  opacity: 0.87;
  font-family: "GothamLight";
  margin: 0px 10px;
  padding: 10px 15px;
  cursor: pointer;
}
/* line 1104, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-pagination li.page-active {
  background-color: #1AABE0;
}

/* line 1109, ../../../resources/assets/sass/app_components/_style.scss */
.katalog-disclaimer {
  border: 1px solid #1AABE0;
  padding: 20px 35px;
  text-align: center;
  color: #F1F1F1;
  margin: 30px auto;
  font: 14px "GothamBook";
  line-height: 23px;
  width: 540px;
}
